.box{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: mediumvioletred;
    display: inline-block;
}

.traslate{
    transform: translate(50px,80px);
}

.rotate{
    transform: rotate(367deg);
}

.scale{
    transform: scale(1.5,);
}

.skew{
    transform: skew(30deg,20deg);
}

.matrix{
    transform: matrix(1,0.5,-0.5,1,4,0);
}

/*combinar el transform con el traslate*/
.cuadro{
    width: 150px;
    height: 150px;
    background-color: hotpink;
}

.cuadro:hover{
    background-color: lawngreen;
    transform: rotate(45deg);
    transition: background-color 2s,transform 2s;
}
